.navbar {
  background-color: #007bff !important; /* Ensure the navbar is always primary blue */
}

.nav-link {
  color: #ffffff !important;
  text-align: center;
}

.nav-link.active {
  font-weight: bold; 
  background-color: #3b9aff;
  border: none;
  border-radius: 15px;
}
